<!DOCTYPE html>
<html lang="en" ng-app="booksApp">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

  <title>AJAX Book App</title>
</head>
<body>
  <div class="container" ng-controller="BooksController as bc">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">AJAX Book App</h1>
        <br>
        <form id="create-book" ng-submit="bc.createBook();">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" ng-model="bc.newBook.title" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="author" class="form-control" placeholder="Author" ng-model="bc.newBook.author">
          </div>
          <div class="form-group">
            <input type="text" name="image" class="form-control" placeholder="Image" ng-model="bc.newBook.image">
          </div>
          <div class="form-group">
            <input type="text" name="releaseDate" class="form-control" placeholder="Release Date" ng-model="bc.newBook.releaseDate">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Save">
          </div>
        </form>
        <br>
        <div id="books-list">
          <!-- repeat for each book -->
             <div class="book" data-id="{{book._id}}" ng-repeat="book in bc.books">
                <div class="row">

                  <!-- book image -->
                  <div class="col-xs-4">
                    <img src="{{book.image}}" class="img-responsive">
                  </div>

                  <!-- book details -->
                  <div class="col-xs-8">
                    <p><strong>Title:</strong> {{book.title}}</p>
                    <p><strong>Author:</strong> {{book.author}}</p>
                    <p><strong>Released:</strong> {{book.releaseDate}}</p>

                    <!-- edit button to toggle form -->
                    <a href="javascript:void(0)" class="btn btn-default btn-sm edit-book" data-toggle="collapse" data-target="#update-{{book._id}}">
                      <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>

                    <!-- delete button -->
                    <a href="javascript:void(0)" class="btn btn-default btn-sm delete-book">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>

                    <!-- form to update book -->
                    <div class="collapse" id="update-{{book._id}}">
                      <br>
                      <form class="update-book">
                        <div class="form-group">
                          <input type="text" name="title" class="form-control" placeholder="Title" value="{{book.title}}">
                        </div>
                        <div class="form-group">
                          <input type="text" name="author" class="form-control" placeholder="Author" value="{{book.author}}">
                        </div>
                        <div class="form-group">
                          <input type="text" name="image" class="form-control" placeholder="Image" value="{{book.image}}">
                        </div>
                        <div class="form-group">
                          <input type="text" name="releaseDate" class="form-control" placeholder="Release Date" value="{{book.releaseDate}}">
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn btn-block btn-default" value="Update">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
          <!-- END repeat for each book -->


        </div>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- angular -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="angular.js"></script>
</body>
</html>
